.flag--polyamorous {
	background-image: linear-gradient(
		#0000FF 0%,         #0000FF 33.333333%,
		#FF0000 33.333333%, #FF0000 66.666666%,
		#000000 66.666666%, #000000 100%
	);
	&::before {
		content: url('../images/polyamorous.svg');
		position: absolute;
		top: 50%;
		left: 50%;
		width: 17%;
		transform: translate(-50%, -50%);
	}
}